<div class="body_container vertical_flex_start">
  <div class="top_bar horizontal_flex">
    <div class="search_bar_container horizontal_flex">
      <div class="logo"></div>
      <div class="search_bar horizontal_flex">
        <div class="search_icon"></div>
        <input type="text" class="search_input" id="search_input" placeholder="Search">
      </div>
    </div>
    <div class="button_container horizontal_flex">
      <div class="top_button vertical_flex_start underline">
        <div class="top_button_icon home"></div>
        <p>Home</p>
      </div>
      <div class="top_button vertical_flex_start">
        <div class="top_button_icon learn"></div>
        <p>Learn</p>
      </div>
      <div class="top_button vertical_flex_start">
        <div class="top_button_icon teach"></div>
        <p>Teach</p>
      </div>
      <div class="top_button vertical_flex_start">
        <div class="top_button_icon messages"></div>
        <p>Messages</p>
      </div>
    </div>
    <div class="top_button vertical_flex_start logout_button">
      <div class="top_button_icon logout"></div>
      <p>Logout</p>
    </div>
  </div>
</div>
