<div class="body_container vertical_flex_start">

  <div class="top_bar horizontal_flex">
    <div class="search_bar_container horizontal_flex">
      <div class="logo"></div>
      <div class="search_bar horizontal_flex">
        <div class="search_icon"></div>
        <input type="text" class="search_input" id="search_input" placeholder="Search">
      </div>
    </div>
    <div class="button_container horizontal_flex">
      <div [ngClass]="menuService.homeToggle ? 'top_button vertical_flex_start underline' : 'top_button vertical_flex_start'" (click)="toggleHomeMenu()">
        <div class="top_button_icon home"></div>
        <p>Home</p>
      </div>
      <div [ngClass]="menuService.learnToggle ? 'top_button vertical_flex_start underline' : 'top_button vertical_flex_start'" (click)="toggleLearnMenu()">
        <div class="top_button_icon learn"></div>
        <p>Learn</p>
      </div>
      <div [ngClass]="menuService.teachToggle ? 'top_button vertical_flex_start underline' : 'top_button vertical_flex_start'" (click)="toggleTeachMenu()">
        <div class="top_button_icon teach"></div>
        <p>Teach</p>
      </div>
      <div [ngClass]="menuService.messagesToggle ? 'top_button vertical_flex_start underline' : 'top_button vertical_flex_start'" (click)="toggleMessagesMenu()">
        <div class="top_button_icon messages"></div>
        <p>Social</p>
      </div>
    </div>
    <div class="top_button vertical_flex_start logout_button">
      <div class="top_button_icon logout"></div>
      <p>Logout</p>
    </div>
  </div>

  <app-home-menu class="menu horizontal_flex" *ngIf="menuService.homeToggle"></app-home-menu>
  <app-learn-menu class="menu horizontal_flex" *ngIf="menuService.learnToggle"></app-learn-menu>
  <app-teach-menu class="menu horizontal_flex" *ngIf="menuService.teachToggle"></app-teach-menu>
  <app-messages-menu class="menu horizontal_flex" *ngIf="menuService.messagesToggle"></app-messages-menu>
</div>
