/* General Styles */
.body-container{
  width:100%;
  height: 100%;
  background-color: #FFB4A2;
}
.vertical-flexbox{
  justify-content: center;
  align-items: center;
}
.logo {
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
  font-family: Courier New;
}

.login-container {
  width: 400px;
  margin: 0 auto;
  padding: 30px 40px;
  background-color: #CCCCCC;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.login-container img {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: auto;
  outline: #CCCCCC;
}

/* Form */
form {
  margin-top: 20px;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #CCC;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 15px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #999;
}

/* Buttons */
button {
  width: 100%;
  height: 40px;
  background-color: #E5989B;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #B5838D;
}

.remember-me {
  display: flex;
  margin: -15px 0 15px;
  justify-content: space-between;
  margin-top: 15px;
}

.remember-me label {
  margin-right: 3px;
  font-family: "Times New Roman";
}
/* Links */
a {
  color: #231f20;
  text-decoration: none;
  font-family: "Times New Roman";
}

a:hover {
  color: #B5838D;
}
.register{
  margin-top: 10px;
  text-align: center;
}
label{
  vertical-align: middle;
}
.option-list{
  display: inline-block;
  width: auto;
  background-color: #CCCCCC;
  border-radius: 10px;
  margin-top: 2px;
  padding: 0 20px;
}
.option-list:active{
  height: auto;

}
.image img{
  margin-top: 10px;
  width: 100px;
}
.image label{
  display: block;
  width: 120px;
  background-color: #E5989B;
  padding: 10px;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 10px;
}
input[type="file"]{
  display: none;
}
.chenar1{
  background-color: #FFCDB2;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 30px;
}
.chenar2{
  background-color: #B5838D;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid black;
}


