<div class="body-container vertical-flexbox">
  <div class="login-container">
    <div class="logo">
      <img [src]="imagePath" alt="GradeUp Logo">
      <label>GradeUP</label>
    </div>
    <form>
      <input type="text" id="username" name="username" placeholder="Introduceți un username">
      <input type="text" id="email" name="email" placeholder="Introduceți adresa de email">
      <input type="password" id="password" name="password" placeholder="Introduceți parola">
    </form>

<label>Selectati genul:</label>
      <select class="option-list">
        <option class="option">Masculin</option>
        <option class="option">Feminin</option>
      </select>
      <div class="remember-me">
        <label> <input type="checkbox">Ține-mă minte</label>
      </div>

      <button type="submit">INAINTE</button>

  </div>
</div>


