<div class="content_container horizontal_flex_start">
  <!--  DIVU ASTA II A TAU OCTA-->
  <div class="request_container vertical_flex">
    <h3>Requests</h3>

    <div class="orizontal horizontal_flex_start">
      <div class="chenar1 vertical_flex">
        <div class="learn-list">
          <p>Learn</p>
          <div class = "learn-chenar">
          </div>
          <div *ngFor="let item of items" class="learn-chenar">
            <div class="learn-container horizontal_flex_start">
              <img [src]="item.image">
              <div class="nume-materie">
                <h3>{{item.name}}</h3>
                <p>{{item.subject}}</p>
              </div>
              <button class="da" (click)="handleYes(item)"></button>
              <button class="nu" (click)="handleNo(item)"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="chenar2 vertical_flex">
        <div class="teach-list">
          <p>Teach</p>
          <div class="teach-chenar">
          </div>
          <div *ngFor="let item of itemsteach" class="teach-chenar">
            <div class="teach-container horizontal_flex_start">
              <img [src]="item.image">
              <div class="nume-materie">
                <h3>{{item.name}}</h3>
                <p>{{item.subject}}</p>
              </div>
              <button class="da" (click)="handleYesTeach(item)"></button>
              <button class="nu" (click)="handleNoTeach(item)"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!--  ACI II A MEU-->
  <div class="message_container vertical_flex">
    <h3>Messages</h3>
    <div class="chat_container horizontal_flex_start">
      <div class="chat_list vertical_flex">
        <p>Your chats</p>
        <div class="chat_list_scrollable vertical_flex">
          <div class="chat_strip horizontal_flex_start" *ngFor="let item of acceptedItem">
            <img src="{{item.image}}">
            <div class="chat_strip_text_container vertical_flex">
              <h3>{{item.name}}</h3>
              <p>{{item.subject}}</p>
            </div>
          </div>
          <div class="chat_strip horizontal_flex_start" *ngFor="let item of acceptedSteach">
            <img src="{{item.image}}">
            <div class="chat_strip_text_container vertical_flex">
              <h3>{{item.name}}</h3>
              <p>{{item.subject}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="chat vertical_flex">
        <div class="chat_screen vertical_flex">
          <div class="user_message">
            <p>Hey</p>
          </div>
          <div class="user_message">
            <p>Oare ma poti ajuta sa trec examenul?</p>
          </div>
          <div class="receiver_message">
            <p>Hey</p>
          </div>
          <div class="receiver_message">
            <p>Sigur ca da!</p>
          </div>
          <div class="user_message">
            <p>Am vazut ca esti si draguta ʕ·͡ᴥ·ʔ﻿	| (• ◡•)|</p>
          </div>
          <div class="receiver_message">
            <p>Vai Merci mult, dar hai sa ramanem la invatat	| (• ◡•)| (ノ ͡° ͜ʖ ͡°ノ) ︵ ( ͜。 ͡ʖ ͜。)</p>
          </div>
        </div>
        <div class="bottom_bar horizontal_flex_start">
          <img src="assets/images/emoji.svg" alt="uni">
          <div class="vertical_separator"></div>
          <input type="text" placeholder="Aa">
          <img src="assets/images/send.svg" alt="uni">
        </div>
      </div>
    </div>
  </div>
</div>
