.teach-container{
  width:100%;
  height: 100%;
  background-color: #FFB4A2;
}
.vertical-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;

}
form {
  margin-top: 20px;
  border-radius: 10px;
  background-color: #FFCDB2;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid black;
}
input[type="text"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #CCC;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 10px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #999;
}
.option-list-fac{
  position: absolute;
  width:17%;
  background-color: #CCCCCC;
  border-radius: 10px;
  margin-top: 2px;
  padding: 0 20px;
  height: 2%;
  margin-left: 6px;
}
.option-list-fac:hover{
  color: #B5838D;
}
.option-list-fac:active{
  height: auto;

}
.option-list-an{
  position: absolute;
  width: 4%;
  background-color: #CCCCCC;
  border-radius: 10px;
  margin-top: 2px;
  padding: 0 20px;
  height: 2%;
  margin-left: 6px;
  margin-bottom: 5px;
}
.option-list-an:hover{
  color: #B5838D;
}
.option-list-an:active{
  height: auto;
}
button {
  width: 100%;
  height: 40px;
  background-color: #E5989B;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #B5838D;
}
