<div class="body-container vertical-flexbox">
  <div class="login-container">
    <div class="logo">
      <img [src]="imagePath" alt="GradeUp Logo">
      <label>GradeUP</label>
    </div>
    <div>
      <input type="text" id="email" name="email" placeholder="Introduceți adresa de email">
      <input type="password" id="password" name="password" placeholder="Introduceți parola">

      <div class="remember-me">
        <label> <input type="checkbox">Ține-mă minte</label>
        <a href="http://localhost:4200/forgot">Ai uitat parola?</a>
      </div>

      <button (click)="login()">LOGIN</button>
      <div class = "register">
        <a href="http://localhost:4200/register">Nou pe GradeUp? Înscrie-te aici</a>
      </div>
    </div>
  </div>
</div>


