<div class="content_container horizontal_flex_start">
  <div class="profile_container vertical_flex">
    <div class="profile_image"></div>
    <h3>username</h3>
    <div class="separator"></div>
    <p class="profile_details">1st Year Student &#64; UTCN - Automation and Computer Science - System Engineering</p>
    <p class="profile_details"></p>
    <div class="separator"></div>
  </div>

  <div class="news_container vertical_flex">

  </div>

  <div class="suggestions_container vertical_flex">

  </div>
</div>
