.horizontal_flex_start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.vertical_flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content_container {
  width: 65%;
  height: 93%;
  justify-content: space-between;
}

.content_container p {
  color: white;
}

.content_container h3 {
  color: white;
  font-weight: normal;
  text-decoration: underline;
}

.profile_container {
  width: 15em;
  height: 28em;
  border-radius: 15px;
  background-color: #B5838D;
  justify-content: flex-start;
}

.news_container {
  width: 38em;
  height: 50em;
  border-radius: 15px;
  background-color: #FFCDB2;
  justify-content: start
}

.suggestions_container {
  width: 18em;
  height: 35em;
  border-radius: 15px;
  background-color: #B5838D;
  justify-content: start;

}

.profile_image {
  margin-top: 1em;
  margin-bottom: 0.2em;
  height: 5em;
  width: 5em;
  background-image: url("../../../assets/images/account_circle.svg");
  background-size: contain;
  background-clip: border-box;
  background-position: center center;
  background-origin: content-box;
  filter: invert(94%) sepia(6%) saturate(0%) hue-rotate(44deg) brightness(106%) contrast(106%);
}

.profile_details {
  font-size: 0.7em;
  text-align: center;
  margin: 0 0.5em 0 0.5em;
}

.separator {
  margin: 1em 0 1em 0;
  width: 100%;
  height: 1px;
  background-color: white;
  opacity: 0.3;
}

.gray {
  height: 2px;
  background-color: #6D6875;
}

.news_title {
  color: #6D6875;
  align-self: start;
  margin: 1em 0 0 2em;
}

.news_text_container {
  height: 86%;
  width: 90%;
  align-items: start;
  justify-content: start;
}

.big_font {
  text-align: start;
  color: #6D6875 !important;
  font-size: 1.2em;
}

.suggestions_title {
  color: white;
}

.suggestions_text_container {
  width: 85%;
  height: 82.5%;
  justify-content: space-evenly;
  /*border: solid rgba(255,255,255,0.3) 1px;*/
  border-radius: 10px;
}

.suggestion {
  width: 100%;
  height: 7em;
  border-radius: 8px;
  padding: 0.5em 0.5em 0.5em 1em;
  box-sizing: border-box;
  justify-content: space-evenly;
  align-items: start;
}

.suggestion_title {
  font-size: 1.1em;
}

.suggestion_details {
  font-size: 0.8em;
}

.learn_button {
  justify-content: center;
  align-items: center;
  height:30px;
  width: 100px;
  border-radius: 10px;
  border: solid rgba(255,255,255,0.3) 1px;
  cursor: pointer;
  transition: all 0.1s;
}

.learn_button p {
  font-size: 0.8em;
  user-select: none;
  transition: all 0.1s;
}

.learn_button:hover {
  background-color: white;
}

.learn_button:hover p {
  color: #6D6875;
}

