<div class="content_container horizontal_flex_start">
  <div class="profile_container vertical_flex">
    <div class="profile_image"></div>
    <h3>{{user.username}}</h3>
    <div class="separator"></div>
    <p class="profile_details">- 1st Year -</p>
    <p class="profile_details">- UTCN -</p>
    <p class="profile_details">- System Engineering -</p>
    <div class="separator"></div>
    <p class="profile_details">Currently learning:</p>
    <br>
    <p class="profile_details">• System Theory - Popescu Monica</p>
    <p class="profile_details">• Computer Programming - Anghel Ana</p>
    <p class="profile_details">• BCE - David Ioan</p>
  </div>

  <div class="news_container vertical_flex">
    <h2 class="news_title">NEWS</h2>
    <div class="separator gray"></div>
    <div class="news_text_container vertical_flex">
      <p class="profile_details big_font">• Facultatea de Automatică și Calculatoare este o instituție publică de învățământ universitar cu misiunea didactică și de cercetare în domeniile "Calculatoare și Tehnologia Informației" și "Ingineria Sistemelor".</p>
      <p class="profile_details big_font">• Specializările "Automatică" și "Calculatoare" au fost înființate ca specializări distincte ale domeniului "Știința Calculatoarelor și Sistemelor" în cadrul Facultății de Electrotehnică, în data de 4.07.1977.</p>
    </div>
  </div>

  <div class="suggestions_container vertical_flex">
    <h2 class="suggestions_title">Try learning:</h2>
    <div class="suggestions_text_container vertical_flex">
      <div class="suggestion vertical_flex">
        <p class="suggestion_title">Teoria Sistemelor II</p>
        <p class="suggestion_details">Petru Dobra</p>
        <div class="learn_button horizontal_flex_start">
          <p>+ Learn</p>
        </div>
      </div>
      <div class="suggestion vertical_flex">
        <p class="suggestion_title">Proiectarea algoritmilor</p>
        <p class="suggestion_details">Melenti Matilda</p>
        <div class="learn_button horizontal_flex_start">
          <p>+ Learn</p>
        </div>
      </div>
      <div class="suggestion vertical_flex">
        <p class="suggestion_title">Analiza Matematica I</p>
        <p class="suggestion_details">Rosca Alina</p>
        <div class="learn_button horizontal_flex_start">
          <p>+ Learn</p>
        </div>
      </div>
      <div class="suggestion vertical_flex">
        <p class="suggestion_title">Electrotehnica</p>
        <p class="suggestion_details">Tzanca Uraganu</p>
        <div class="learn_button horizontal_flex_start">
          <p>+ Learn</p>
        </div>
      </div>
    </div>
  </div>
</div>
