<div class="horizontal_flex_start content_container">
  <div class="search_container vertical_flex">
    <h3>Find someone to teach you!</h3>
    <div class="search_box horizontal_flex_start">
      <img src="assets/images/university.svg" alt="uni" class="image">
      <div class="vertical_separator"></div>
      <select class="select_box">
        <option value="" disabled selected>University</option>
        <option *ngFor="let uni of uniList" value="{{uni}}">{{uni}}</option>
      </select>
    </div>
    <div class="search_box horizontal_flex_start">
      <img src="assets/images/year.svg" alt="uni" class="image">
      <div class="vertical_separator"></div>
      <select class="select_box">
        <option value="" disabled selected>Year</option>
        <option *ngFor="let year of yearList" value="{{year}}">{{year}}</option>
      </select>
    </div>
    <div class="search_box horizontal_flex_start">
      <img src="assets/images/subject.svg" alt="uni" class="image">
      <div class="vertical_separator"></div>
      <select class="select_box">
        <option value="" disabled selected>Subject</option>
        <option *ngFor="let name of subjectNameList" value="{{name}}">{{name}}</option>
      </select>
    </div>
    <div class="search_box horizontal_flex_start">
      <img src="assets/images/professor.svg" alt="uni" class="image">
      <div class="vertical_separator"></div>
      <select class="select_box">
        <option value="" disabled selected>Professor</option>
        <option *ngFor="let prof of professorList" value="{{prof}}">{{prof}}</option>
      </select>
    </div>
    <div class="search_box horizontal_flex_start">
      <img src="assets/images/gender.svg" alt="uni" class="image">
      <div class="vertical_separator"></div>
      <select class="select_box">
        <option value="" disabled selected>Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Any">Any</option>
      </select>
    </div>
    <div class="apply_filters_btn vertical_flex">
      <p>APPLY FILTERS</p>
    </div>
  </div>

  <div class="request_container horizontal_flex_start" *ngIf="toggleRequests">
    <div class="request_button vertical_flex">
      <img src="assets/images/x.svg" alt="uni" class="image">
    </div>
    <div class="image_container vertical_flex">
      <img [src]="currentImage" alt="">
      <p class="name">{{currentName}}</p>
      <p class="description">{{description}}</p>
    </div>
    <div class="request_button vertical_flex">
      <img src="assets/images/heart.svg" alt="">
    </div>
  </div>
</div>
