@font-face {
  font-family: Merriweather-Regular;
  src: url(../assets/fonts/Merriweather-Regular.ttf);
}

@font-face {
  font-family: Merriweather-Bold;
  src: url(../assets/fonts/Merriweather-Bold.ttf);
}
