@font-face {
  font-family: Merriweather-Regular;
  src: url(../assets/fonts/Merriweather-Regular.ttf);
}

@font-face {
  font-family: Merriweather-Bold;
  src: url("../assets/fonts/Merriweather-Bold.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/Poppins-Regular.ttf")
}

html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

h3 {
  margin: 0;
}

app-main-menu {
  height: 100%;
  width: 100%;
}

p {
  margin: 0;
  font-family: Poppins;
}

div {
  font-family: Poppins;
}

input {
  font-family: Poppins;
}
