<div class="body-container vertical-flexbox">
  <div class="login-container">
    <div class="logo">
      <img [src]="imagePath" alt="GradeUp Logo">
      <label>GradeUP</label>
    </div>
      <div class = "text">
      <label>Intordu adresa de mail cu care ti-ai facut contul si o sa iti poti recupera parola.</label>
      </div>
    <form>
      <input type="text" id="email" name="email" placeholder="Introduceți adresa de email">
      <button type="submit">Trimite parola</button>
      <div class = "register">
        <a href="http://localhost:4200/login">Ai deja cont? Inapoi la conectare</a>
        <label>sau</label>
        <a href="http://localhost:4200/register">Creeaza un cont nou</a>
      </div>
    </form>
  </div>
</div>
